@import "bootstrap/scss/bootstrap";

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  overflow: hidden;
}

.slide-dark {
  background-color: #7DCFB6;
}

.slide-pink {
  background-color: #480ca8;
}

.slide-green {
  background-color: #FFD97D;
}

.shoe-img {
  max-height: 100%;
}

.buy-form {
  background-color: rgba(255, 255, 255, 0.4);

  backdrop-filter: blur(8px);
}

.shoe-wrap {
  display: flex;
  align-items: center;
  height: 45%;

  justify-content: center;
  @media (min-width: 992px) {
    height: 100%;
  }
}

.swiper-pagination {
  margin-right: 16px;
}

.swiper-pagination-bullet {
  font-size: 22px;
  width: auto;
  height: auto;
  cursor: pointer;
  opacity: 0.4;
  color: #000;
  background-color: transparent;
  &.swiper-pagination-bullet-active {
    font-size: 24px;
    font-weight: bold;
    cursor: default;
    opacity: 1;
  }
}
