<div class="buy-form p-5 rounded-4">
  <div class="h1">
    Nike Air Max 1 '87 By You
  </div>
  <div class="h4 mb-4">
    Custom Shoes
  </div>
  <div class="h3 mb-4">
    $ 180
  </div>
  <button class="btn-lg btn btn-dark">
    Shop Now
  </button>
</div>